body
{
  margin: 0%;
  padding: 0%;
}
#background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4; /* Adjust the opacity as needed */
  z-index: -1;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1999948;
    height: 50px;
    /* Set the height of the navbar */
    line-height: 50px;
    /* Vertically center the content */
  }
  
  nav .logo-item {
    float: left;
    /* Align the logo to the left */
    height: 50px;
    /* Set the height of the logo */
    padding-left: 70px;
  }
  
  nav .logo {
    height: 100%;
    /* Make the logo fill the height of the navbar */
    vertical-align: middle;
    /* Vertically center the logo */
  
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  nav .logo:hover {
    transform: scale(1.05);
  }
  
  nav li {
    float: right;
    text-align: center;
  }
  
  nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0 16px;
    /* Adjust horizontal padding as needed */
    text-decoration: none;
    height: 50px;
    /* Set the height of the list items */
    line-height: 50px;
    /* Vertically center the content */
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #4468c45d;
    /* Change the background color when hovered */
    transform: scale(1.05);
    /* Increase the size by 5% when hovered */
  }
  .img {
    display: flex;
    justify-content: space-evenly;

}

.img-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 0;
    border-radius: 15px;
    box-shadow: 0 10px 50px rgba(56, 51, 51, 0.868);
}

.img-container:not(:last-child) {
    margin-right: -6cm; 
}

  .text
  {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border: none;
    padding: 15px;
    margin: 20px 440px;
    margin-bottom: 90px;

    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(56, 51, 51, 0.868);
  }
.goal
{
    display:block;
    background-color: aliceblue;
    margin-right: 250px ;
    margin-left: 250px;
    justify-content: center;
    align-content: center;
    padding-left: 90px;
    padding-right: 90px;
    font-size: large;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(56, 51, 51, 0.868);
}





